.active-tabs{
    background-color: white;
}
.try{
    background-color: yellow;
}
.tabs{
    padding: 15px;
    text-align: center;
    width: 50%;
    background-color: rgba(24, 23, 23, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs{
    background-color: white;
    border-bottom: 1px solid transparent;
}
.active-tabs::before{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform:translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(75, 197, 238);
}
button{
    border: none;
}
.menuboton .menubutton{
    position: absolute;
    left: 92%;
    bottom: 650px;
    background-color: transparent;
    color: white;
    height: 55px;
    cursor: pointer;
    width: 120px;
  }
  .menubutton:hover{
    background-color: rgb(28, 90, 126);
    height: 55px;
    width: 120px;
  }
.inicio{
    position: absolute;
    bottom: 650px;
    right: 72%;
    background-color: transparent;
    color: white;
    height: 55px;
    cursor: pointer;
    width: 120px;
}
.inicio:hover{
    background-color: rgb(28, 90, 126);
    height: 55px;
    width: 120px;
}
.addclient{
    position: absolute;
    bottom: 650px;
    left: 65%;
    background-color: transparent;
    color: white;
    height: 55px;
    cursor: pointer;
    width: 130px;
}
.addclient:hover{
    background-color: rgb(28, 90, 126);
    height: 55px;
    width: 130px;
}
.selectclient{
    position: absolute;
    left: 79%;
    bottom: 650px;
    background-color: transparent;
    color: white;
    height: 55px;
    cursor: pointer;
    width: 135px;
}
.selectclient:hover{
    background-color: rgb(28, 90, 126);
    height: 55px;
    width: 135px;
}
.details{
    position: absolute;
    top: 300px;
    right: 22%;
    width: 170px;
    padding: 5px;
    background-color: rgb(70, 187, 226);
    border-radius: 8px;
    color: white; 
  }
  .details:hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
  }
  
  .btnOpCli{
    background-color:rgb(70, 187, 226);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 51%;
    bottom: -150px;
    height: 32px;
   
  }
  .btnOpCli :hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
    width: 150px;
    height: 32px;
  }
  .btnOpCli11{
    background-color:rgb(70, 187, 226);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 41%;
    bottom: -150px;
    height: 32px;
    cursor:pointer;
  }
  .btnOpCli11:hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
  }
  .btnOpCli22{
    background-color:rgb(70, 187, 226);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 31%;
    bottom: -150px;
    height: 32px;
    cursor:pointer;
  }
  .btnOpCli22:hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
  }
.btnOpCli1{
    background-color:rgb(70, 187, 226);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 31%;
    bottom: -180px;
    height: 32px;
    cursor:pointer;
  }
  .btnOpCli1:hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
  }
  .btnOpCli2{
    background-color:rgb(70, 187, 226);
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
    position: relative;
    left: 51%;
    bottom: -180px;
    height: 32px;
    cursor:pointer;
  }
  .btnOpCli2:hover{
    background-color: rgb(52, 143, 173);
    cursor: pointer;
  }
  