.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.opciones{
  margin-top: -4.2%;
  width: 100px;
  height: 500px;

  background-color: rgb(152, 240, 252);
  padding: 20px;
  border: 2px black;
}
.resultado{
 

  text-align: center;
  font-style: italic;
  color: rgb(201, 13, 154);

}
.Menu{
  background-color: lightpink;
  text-align: center;
}
.slider{
  margin-top: -20px;
  background-color: lightgreen;
  text-align: center;
}
.Tamaño{
  background-color: lemonchiffon;
  width: 100%;
  height: 500px;
  margin-top: -20px;
}
.columna{
  display: flex;
  flex-wrap: wrap;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
